<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <link href="proforma.css" rel="stylesheet">
    <title>proforma_{{data.datus.reference}}</title>
    <meta name="description" content="Invoice demo sample">
    <meta name="author" content="Kozea">
</head>

<body>

    <aside>
        <address id="from">
            <h2 style="margin-bottom: -1.5rem;">SAQQI TRADE</h2>
            CNPJ: 65363435436-09/0001
            Rua Marechal Floriano Peixoto 370
            CEP: 90020-061
            Porto Alegre-RS, Brasil
            Phone: +55 51 9 91 42 44 29
            Email: contact@saqqi.com

        </address>
    </aside>



    <ul class="list-group">
        <li class="list-group-item active">
            INVOICE
        </li>
        <li class="list-group-item">Order: <strong>{{data.datus.reference}}</strong></li>
        <li class="list-group-item">Date: {{data.date|date:"D, d M, Y"}} </li>
    </ul>

    <ul class="list-group">
        <li class="list-group-item active">
            SOLD TO
        </li>
        <li class="list-group-item">Company Name: <strong> {{data.datus.company}} </strong></li>
        <li class="list-group-item">Country: <strong> {{data.datus.state}} </strong> </li>
        <li class="list-group-item">City: <strong>{{data.datus.city}} </strong> </li>
        <li class="list-group-item">Port: <strong> {{data.datus.port_name}} </strong> </li>
        <li class="list-group-item">Port City: <strong> {{data.datus.port_city}} </strong> </li>
        <li class="list-group-item">Port Code: <strong> {{data.datus.port_code}} </strong> </li>

    </ul>


    <ul class="list-group">
        <li class="list-group-item active">
            Notify to
        </li>
        <li class="list-group-item">Name: <strong> {{data.datus.first_name}} {{data.datus.last_name}}</strong></li>
        <li class="list-group-item">Phone: <strong>+{{data.datus.phone}} </strong> </li>
        <li class="list-group-item">Email: <strong> {{data.datus.confirm_email}} </strong> </li>
    </ul>

    <ul class="list-group">
        <li class="list-group-item active" style="text-align: center;">
            Merchandises
        </li>
    </ul>


    <table class="table-bordered text-center">
        <thead>
            <tr>
                <th>#</th>
                <th>Code</th>
                <th>Description</th>
                <th>Quantity (uni)</th>
                <th>uni/US$</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>

        {% if data.datus.items %}
            {% for item in data.datus.items %}

                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td> <strong>{{item.product.code}}</strong> </td>
                    <td>{{item.product.name}} <br>
                        {{ item.product.description | safe }}.</strong>
                    </td>
                    <td> <strong>{{item.quantity}}</strong> </td>
                    <td> <strong>$ {{item.product.price}} </strong> </td>
                    <td>$ {{item.subtotal}} </td>
                </tr>
        {% endfor %}
        {% endif %}

        <!--    <tr>
                <td>2</td>
                <td>Kraft paper bag <br>
                    Dim: <strong>23x34x45 cm.</strong>
                </td>
                <td> <strong>1.234.456.78</strong> </td>
                <td> <strong> 0.008 </strong> </td>
                <td> 3.000.000 </td>
            </tr> -->


            <tr>

                <td colspan="4"></td>
                <td> <strong>Total</strong> </td>
                <td> <strong>US $ {{data.datus.total}} </strong> </td>
            </tr>
        </tbody>
    </table>

    <!-- <ul class="list-group">
        <li class="list-group-item active">
            Banking informations
        </li>
        <li class="list-group-item">Bank Wire Transfer: <strong> SAQQI TRADE </strong></li>
        <li class="list-group-item">Bank Name: <strong>BRADESCO S.A.</strong> </li>
        <li class="list-group-item">Swift Code: <strong>QAWSEDCFVGT</strong> </li>
    </ul> -->

    <div class="infos">

        <p>Others conditions: The shipment of the request will be subordinate to the acceptance of the conditions on this
            invoice and the payment of the transportation value.</p>
        <p> <strong> Payment: Western Union, Paypal (for small amount), T/T </strong> </p>

        <p> <strong>Shipment: DHL/FedEx/UPS (Suitable for small package ), or by sea/air.</strong> </p>

        <p> <strong>Please check your orders and return with your acceptance. </strong> </p>

        <p>
            ( ) Yes, it's all okay. <br>
            ( ) No, They are missing items. Let us contact you or try again in our website.
        </p>
        <p><strong> We will make contact by whatsapp our email. </strong> </p>

    </div>

    <div class="signature">


        <div>
            <hr>
            <span>Name</span>

        </div>
        <div>
            <hr>
            <span>Date</span>

        </div>
        <div>
            <hr>
            <span>Signature</span>

        </div>


    </div>


</body>

</html>
