{% load render_bundle from webpack_loader %}

{%load staticfiles %}

<!DOCTYPE html>
<html >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="icon" href="{% static "img/fav_t.png" %}" type="image/x-icon">

    <meta property='og:title' lang="en" content='Saqqi :: International Trade' />
    <meta property='og:title' lang="fr" content='Saqqi :: Commerce International' />
    <meta property='og:title' lang="pt-br" content='Saqqi :: Comércio Exterior' />

    <meta property='og:image' content='{% static "img/saq_facebook.png" %}' />

    <meta property='og:description' lang="en" content='Saqqi Commercial Exportadora LTDA is a registered trading company specialized in exporting paper and pulp products since we based in the third worldwide paper producer. Supplying the best export paper products such as Kraft paper bags, Natural Kraft paper rolls, corrugated, newsprint, and monolucent paper rolls among other products. We also provide Agricole products, Steel and aluminum, and many other commodities.' />

    <meta property='og:description' lang="fr" content="Saqqi Commercial Exportadora LTDA est une spcioété spécialisé dans l’exportation de produits de papier et de pâte à papier puisque nous sommes basés dans le troisième pays producteur mondial de papier. Fournir les meilleurs produits de papier d'exportation tels que les sacs en papier kraft, les rouleaux de papier kraft naturel, le papier ondulé, le papier presse et les rouleaux de papier monolucide entre autres produits. Nous ournissons également des produits agricole, de l'acier et de l'aluminium, ainsi que de nombreux autres produits." />


    <meta lang="en" property="description" content='Saqqi Commercial Exportadora LTDA is a registered trading company specialized in exporting paper and pulp products since we based in the third worldwide paper producer. Supplying the best export paper products such as Kraft paper bags, Natural Kraft paper rolls, corrugated, newsprint, and monolucent paper rolls among other products. We also provide Agricole products, Steel and aluminum, and many other commodities.' />
    <meta lang="fr" property="description" content="Saqqi Commercial Exportadora LTDA est une spcioété spécialisé dans l’exportation de produits de papier et de pâte à papier puisque nous sommes basés dans le troisième pays producteur mondial de papier. Fournir les meilleurs produits de papier d'exportation tels que les sacs en papier kraft, les rouleaux de papier kraft naturel, le papier ondulé, le papier presse et les rouleaux de papier monolucide entre autres produits. Nous ournissons également des produits agricole, de l'acier et de l'aluminium, ainsi que de nombreux autres produits." />

    <meta property='og:url' content='https://saqqi.com/' />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <title lang="en">Saqqi :: International Trade</title>
    <title lang="fr">Saqqi :: Commerce International</title>
    <title lang="pt-br">Saqqi :: Comércio Exterior</title>

    
  </head>
  <body>
    <noscript>
      <strong>We're sorry but frontend doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
<div id="app">
     <app></app>
 </div>
{% render_bundle 'app' %}
<!-- built files will be auto injected -->
  
</body>
</html>